# If you want some example snippets, check out:
# https://github.com/atom/language-javascript/blob/master/snippets/javascript.cson

'.source.as-structured-text':
	'Multi-line comment':
		'prefix': 'cm'
		'body': """
			(*
			$1
			*)
		"""
	'IF Statement':
		'prefix': 'if'
		'body': """
			IF ${1:condition} THEN
				${2:statement};
			END_IF
		"""
	'IF ELSE Statement':
		'prefix': 'else'
		'body': """
			IF ${1:condition} THEN
				${2:statement};
			ELSE
				${3:statement};
			END_IF
		"""
	'ELSIF Statement':
		'prefix': 'elsif'
		'body': """
			IF ${1:condition} THEN
				${2:statement};
			ELSIF ${3:condition} THEN
				${4:statement};
			ELSE
				${5:statement};
			END_IF
		"""
	'FOR Statement':
		'prefix': 'for'
		'body': """
			FOR ${1:i} := ${2:0} TO ${3:endValue} DO
				${4:statement};
			END_FOR
		"""
	'CASE Statement':
		'prefix': 'case'
		'body': """
			CASE ${1:selector} OF
				${2:value1}:
					$4
				${3:value2}:
					
				ELSE
					
			END_CASE
		"""
	'FUNCTION Statement':
		'prefix': 'fn'
		'body': """
			FUNCTION ${1:functionName} : ${2:returnDatatype}
				$3
			END_FUNCTION
		"""
	'FUNCTION_BLOCK Statement':
		'prefix': 'fb'
		'body': """
			FUNCTION_BLOCK ${1:functionBlockName}
				$2
			END_FUNCTION_BLOCK
		"""
	'PROGRAM Statement':
		'prefix': 'prog'
		'body': """
			PROGRAM ${1:programName}
				$2
			END_PROGRAM
		"""
	'WHILE Statement':
		'prefix': 'while'
		'body': """
			WHILE ${1:condition} DO
				${2:statment};
			END_WHILE
		"""
	'REPEAT Statement': 
		'prefix': 'repeat'
		'body': """
			REPEAT
				${2:statement};
			UNTIL 
				${1:condition}
			END_REPEAT
		"""
	